---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome Visitor">
  <main>
    <h1>Welcom Visitor</h1>
    <h2 transition:name="about"><a href="/about">About Me</a></h2>
    <h2 transition:name="blog"><a href="/blog">Blog</a></h2>
    <h2 transition:name="contact"><a href="/contact">Contact</a></h2>
  </main>
</Layout>

<style></style>
